body::before {
  content: url("/bbi.png");
  transform: translate(-45%, 45%) scale(0.1);
  object-fit: contain;
  position: fixed;
  left: 10px;
  bottom: 10px;
  opacity: 50%;
}

iframe {
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  z-index: 1000 !important;

  aspect-ratio: 16/9;
  width: 66vw;
}

iframe {
  pointer-events: none;
  opacity: 0;
  right: -50%;
  transition: all 0.5s ease-in-out;
}

iframe.show {
  pointer-events: all;
  opacity: 1;
  right: 20px;
}

iframe.editorMax {
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform: unset;
  border-radius: 0;
}

section {
  z-index: 1;
}

h1 {
  font-size: 3em !important;
  margin: 0.5em 0 !important;
}

h2 {
  font-size: 1.5em !important;
}

.fw7,
b,
strong {
  font-weight: 700 !important;
}

img {
  max-height: 50vh;
  max-width: 80vw;
}